<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= user.username %>'s Profile</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <br>
    <img src="/images/birds-flying.png" width="300" height="300" alt="Birds Flying" class="flying-birds">
    <div class="page-body main-page">
        <div class="user-data">
            <div class="username-and-pic">
                <img src="<%= user.image %>" width="130" height ="130" alt="Profile Picture"><h1><%= user.username %></h1>
            </div>
            <div>        
                <a href="/users/<%= user._id %>/profile-pic"><small>(Change Profile Picture)</small></a>
            </div>
            <% let totalSeen = 0 %>
            <% birds.forEach((bird) => { %>
                <% if (bird.seenBird) { %>
                    <% totalSeen++ %>
                <% } %>
            <% }) %>
            <% user.rank = totalSeen >= 100 ? 5 : totalSeen >= 50 ? 4 : totalSeen >= 25 ? 3 : totalSeen >= 10 ? 2 : totalSeen >= 1 ? 1 : 0 %>
            <h2><%= user.rank === 5 ? 'Rank 5: Lifer-timer' : user.rank === 4 ? 'Rank 4: Mid-Lifer' : user.rank === 3 ? 'Rank 3: Lifer Finder' : user.rank === 2 ? 'Rank 2: Lifer Seeker' : user.rank === 1 ? 'Rank 1: New Lifer' : 'Rank 0: No-Lifer' %></h2>
        </div>
        <div class="rest-of-profile">
            <h2><%= user.username %>'s Birds</h1>
            <a href="/users/<%= user._id %>/birds/new">Add New Sighting</a>
            <% if (birds.length == 0) { %>
                <p>Your life list is empty.</p>
            <% } else { %>
                <ol>
                <% birds.forEach((bird) => { %>
                    <li><a href="/users/<%= user._id %>/birds/<%= bird._id %>"><%= bird.name %></a></li>
                <% }) %>
                </ol>
            <% } %>
        </div>
    </div>
</body>
</html>