<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Profile</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Birds</h1>
    <a href="/users/<%= user._id %>/birds/new">Add New Sighting</a>

    <% if (birds.length == 0) { %>
        <p>Your life list is empty.</p>
    <% } else { %>
        <ul>
        <% birds.forEach((bird) => { %>
            <li><%= bird.name %></li>
        <% }) %>
        </ul>
    <% } %>

</body>
</html>