<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= user.username %>'s Profile</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <br>
    <img src="/images/birds-flying.png" width="300" height="300" alt="Birds Flying" class="flying-birds">
    <div class="page-body main-page">
        <div class="user-data">
            <a href="/users/<%= user._id %>/profile-pic"><small>(Change Profile Picture)</small></a>
            <div class="username-and-pic">
                <img src="<%= user.image %>" width="130" height ="130" alt="Profile Picture"><h1 class="page-title"><%= user.username %></h1>
            </div>       
            <% let totalSeen = 0 %>
            <% birds.forEach((bird) => { %>
                <% if (bird.seenBird) { %>
                    <% totalSeen++ %>
                <% } %>
            <% }) %>
            <% user.rank = totalSeen >= 100 ? 5 : totalSeen >= 50 ? 4 : totalSeen >= 25 ? 3 : totalSeen >= 10 ? 2 : totalSeen >= 1 ? 1 : 0 %>
            <img src="<%= user.rank === 5 ? '/images/rank-5-badge.jpg' : user.rank === 4 ? '/images/rank-4-badge.jpg' : user.rank === 3 ? '/images/rank-3-badge.jpg' : user.rank === 2 ? '/images/rank-2-badge.jpg' : user.rank === 1 ? '/images/rank-1-badge.jpg' : '/images/rank-0-badge.jpg' %>" width="100" height="100" alt="User Rank">
        </div>
        <div class="rest-of-profile">
            <h2 class="page-title">Your Birds</h2>
            <a href="/users/<%= user._id %>/birds/new">Add New Sighting</a>
            <% if (birds.length == 0) { %>
                <p>Your life list is empty.</p>
            <% } else { %>
                <ol>
                <% birds.forEach((bird) => { %>
                    <li><a href="/users/<%= user._id %>/birds/<%= bird._id %>"><%= bird.name %></a></li>
                <% }) %>
                </ol>
            <% } %>
        </div>
    </div>
</body>
</html>