<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Profile</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <br>
    <img src="<%= user.image || 'https://i.imgur.com/hwkvllO.jpeg'%>" width="50" height ="50" alt="Profile Picture"><h1><%= user.username %></h1>
    <a href="/users/<%= user._id %>/birds/profile-pic"><small>(Change Profile Picture)</small></a>
    <% let totalSeen = 0 %>
    <% birds.forEach((bird) => { %>
        <% if (bird.seenBird) { %>
            <% totalSeen++ %>
        <% } %>
    <% }) %>
    <% user.rank = totalSeen >= 100 ? 5 : totalSeen >= 50 ? 4 : totalSeen >= 25 ? 3 : totalSeen >= 10 ? 2 : totalSeen >= 1 ? 1 : 0 %>
    <h2><%= user.rank === 5 ? 'Rank 5: Lifer-timer' : user.rank === 4 ? 'Rank 4: Mid-Lifer' : user.rank === 3 ? 'Rank 3: Lifer Finder' : user.rank === 2 ? 'Rank 2: Lifer Seeker' : user.rank === 1 ? 'Rank 1: New Lifer' : 'Rank 0: No-Lifer' %></h2>
    <h2><%= user.username %>'s Birds</h1>
    <a href="/users/<%= user._id %>/birds/new">Add New Sighting</a>

    <% if (birds.length == 0) { %>
        <p>Your life list is empty.</p>
    <% } else { %>
        <ul>
        <% birds.forEach((bird) => { %>
            <li><a href="/users/<%= user._id %>/birds/<%= bird._id %>"><%= bird.name %></a></li>
        <% }) %>
        </ul>
    <% } %>

</body>
</html>