<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= bird.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="page-body show-page">
        <h1 class="page-title"><%= bird.name %></h1>
        <img src="<%= bird.image ? bird.image : '/images/default-bird.jpeg' %>" alt="Bird Image" height="400" width="400"><br>
        <p><%= bird.seenBird === true ? "Seen" : "Attempt" %> on <%= bird.date.toISOString().split('T')[0] %> in <%= bird.location %></p>
        <% if (bird.rating !== 'blank') { %>
            <img src="<%= bird.rating === '5' ? '/images/five-stars.png' : bird.rating === '4.5' ? '/images/four-half-stars.png' : bird.rating === '4' ? '/images/four-stars.png' : bird.rating === '3.5' ? '/images/three-half-stars.png' : bird.rating === '3' ? '/images/three-stars.png' : bird.rating === '2.5' ? '/images/two-half-stars.png' : bird.rating === '2' ? '/images/two-stars.png' : bird.rating === '1.5' ? '/images/one-half-stars.png' : bird.rating === '1' ? '/images/one-stars.png' : bird.rating === '0.5' ? '/images/half-star.png' : '/images/no-stars.png' %>" width="200" height="50" alt="User Rating"><p><%= bird.rating %> Star(s)</p>
        <% } %>
        <div class="comments-container">
            <%= bird.comments %><br><br>
        </div>

        <a href="/users/<%= user._id %>/birds/<%= bird._id %>/edit" id="edit-link">Edit this Bird</a><br><br>
        <form action="/users/<%= user._id %>/birds/<%= bird._id %>?_method=DELETE" method="POST">
            <button type="submit" class="delete-button">Delete this <%= bird.seenBird === true ? "Sighting" : "Attempt" %></button>
        </form>
    </div>
</body>
</html>