<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Our Bird Database</h1>
    <% birdDB.forEach((species) => { %>
        <% let populated = false %>
        <h2><%= species %></h2>
        <% users.forEach((user) => { %>
            <% user.birds.forEach((bird) => { %>
                <% if (bird.name.toLowerCase() === species.toLowerCase()) { %>
                    <% populated = true %>
                    <p>Seen or attempted by <%= user.username %> at <%= bird.location %> on <%= bird.date.toISOString().split('T')[0] %></p>
                <% } %>
            <% }) %>
        <% }) %>
        <% if (!populated) { %>
            <p>No sightings or attempts yet.</p>
        <% } %>
    <% }) %>
</body>
</html>