<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= user.username %>'s Bird List</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="page-body user-list">
        <div class="user-container">
            <img src="<%= user.image %>" width="100" height ="100" alt="Profile Picture"><h2 class="page-title"><%= user.username %></h2>
            <% let totalSeen = 0 %>
            <% birds.forEach((bird) => { %>
                <% if (bird.seenBird) { %>
                    <% totalSeen++ %>
                <% } %>
            <% }) %>
            <% user.rank = totalSeen >= 100 ? 5 : totalSeen >= 50 ? 4 : totalSeen >= 25 ? 3 : totalSeen >= 10 ? 2 : totalSeen >= 1 ? 1 : 0 %>
            <img src="<%= user.rank === 5 ? '/images/rank-5-badge.jpg' : user.rank === 4 ? '/images/rank-4-badge.jpg' : user.rank === 3 ? '/images/rank-3-badge.jpg' : user.rank === 2 ? '/images/rank-2-badge.jpg' : user.rank === 1 ? '/images/rank-1-badge.jpg' : '/images/rank-0-badge.jpg' %>" width="100" height="100" alt="User Rank">
        </div>
        <h1 class="page-title"><%= user.username %>'s Birds</h1>

        <% if (birds.length === 0) { %>
            <p>This user does not have any birds on their list yet.</p>
        <% } else { %>
                <ul>
                <% birds.forEach((bird) => { %>
                    <li>
                        <%= bird.name %><br>
                        <% if (bird.image) { %>
                            <img src="<%= bird.image %>" alt="Bird Image" width="400" height="300">
                        <% } %>
                        <p><%= bird.seenBird === true ? "Seen" : "Attempt" %> on <%= bird.date.toISOString().split('T')[0] %> in <%= bird.location %></p>
                        <% if (bird.rating !== 'blank') { %>
                            <img src="<%= bird.rating === '5' ? '/images/five-stars.png' : bird.rating === '4.5' ? '/images/four-half-stars.png' : bird.rating === '4' ? '/images/four-stars.png' : bird.rating === '3.5' ? '/images/three-half-stars.png' : bird.rating === '3' ? '/images/three-stars.png' : bird.rating === '2.5' ? '/images/two-half-stars.png' : bird.rating === '2' ? '/images/two-stars.png' : bird.rating === '1.5' ? '/images/one-half-stars.png' : bird.rating === '1' ? '/images/one-stars.png' : bird.rating === '0.5' ? '/images/half-star.png' : '/images/no-stars.png' %>" width="200" height="50" alt="User Rating"><p><%= bird.rating %> Stars</p>
                        <% } %>
                        <%= bird.comments %><br><br>
                    </li>
                    <hr>
                <% }) %>
                </ul>
            </div>
        <% } %>
    </div>
</body>
</html>